<h1>ログイン</h1>
<p style="color: green"><%= flash[:notice] %></p>
<%= form_tag do %>
<center>
  <br>
  <table width="500px">
  	<tr>
  		<td>
  			<label for="login_name">ユーザ名</label>
  		</td>
		<td>
			<%= text_field_tag :login_name, params[:login_name] %>
		</td>
  	</tr>
  	<tr>
  		<td>
  			<label for="password">パスワード</label>
  		</td>
		<td>
			<%= password_field_tag :password, params[:password] %>
		</td>
  	</tr>
  </table>
  <div>
    <br>
    <%= submit_tag "ログイン" %>
  </div>
</center>
<% end %>
