<div class="surveysobject_new">
</div>
<table class="surveysobject">
  <tr class="surveysobject">
    <th class="surveysobject" style="width: 120px;">受信日時</th>
    <th class="surveysobject">
	送信FAX番号<br/>
	受信FAX番号
    </th>
    <th class="surveysobject">
	シートコード<br/>
	調査対象コード
    </th>
    <th class="surveysobject">エラー送信種別</th>
    <th class="surveysobject">操作</th>
  </tr>
  <% count = 0 %>
  <% @answer_sheets.each do |answer_sheet| %>
  <% count = (count + 1) & 1 %>
  <% if count == 0 %>
  <tr class="surveysobject">
  <% else %>
  <tr class="surveysobject_dark">
  <% end %>
    <% (date, time) = answer_sheet.date.to_s(:datetime_jp).split(/日/) %>
    <td class="surveysobject"><%= date %>日<BR>　　　<%= time %></td>
    <td class="surveysobject">
	<%=h answer_sheet.sender_number %><br/>
	<%=h answer_sheet.receiver_number %>
    </td>
    <td class="surveysobject">
	<%=h answer_sheet.analyzed_sheet_code.blank? ? "_____" : answer_sheet.analyzed_sheet_code %> (<%=h answer_sheet.sheet.sheet_name %>)<br/>
	<%=h answer_sheet.analyzed_candidate_code.blank? ? "_____" : answer_sheet.analyzed_candidate_code %> (<%=h answer_sheet.candidate.candidate_name %>)
    </td>
    <td class="surveysobject"><%=h answer_sheet.printable_srerror %></td>
    <td class="surveysobject_manage"><%= link_to '表示', show_all_answer_sheet_path(answer_sheet) %></td>
  </tr>
<% end %>
</table>
