<h1>FAX受信調査シート編集</h1>
<p style="color: green"><%= flash[:notice] %></p>

<%= form_for([@group,@survey,@answer_sheet]) do |f| %>
  <%= f.error_messages %>

  <p>
    受信日時<br />
    <%= f.datetime_select :date %>
  </p>
  <p>
    送信FAX番号<br />
    <%= f.text_field :sender_number %>
  </p>
  <p>
    受信FAX番号<br />
    <%= f.text_field :receiver_number %>
  </p>
  <p>
    シートコード<br />
    <%= f.text_field :sheet_code %>
  </p>
  <p>
    調査対象コード<br />
    <%= f.text_field :candidate_code %>
  </p>
  <p>
    <%= f.label :sheet_image %><br />
    <%= f.text_field :sheet_image %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'キャンセル', group_survey_answer_sheet_path(@group, @survey, @answer_sheet) %>
