<h1 class="surveysobject">FAX受信調査シート</h1> 
<table><tr><td>
<h2 class="surveysobject_title">基本情報</h2>
</td><td>
<% if @current_user.has_administrator_group%>
<%= link_to '編集', edit_group_survey_answer_sheet_path(@group, @survey, @answer_sheet) %>
<%= link_to 'コード指定による再読み込み', edit_recognize_group_survey_answer_sheet_path(@group, @survey, @answer_sheet) %>
<% end %>
</td></tr></table>
<table width="100%"><tr valign="top"><td align="left">
<div>
  <h3>受信日時</h3>
  <%=h @answer_sheet.date.to_s(:datetime_jp) %>
</div>
<div>
  <h3>送信FAX番号</h3>
  <%=h @answer_sheet.sender_number %>
</div>
<div>
  <h3>受信FAX番号</h3>
  <%=h @answer_sheet.receiver_number %>
</div>
<div>
  <h3>シートコード</h3>
  <%=h @answer_sheet.analyzed_sheet_code %>
</div>
<div>
  <h3>調査対象コード</h3>
  <%=h @answer_sheet.analyzed_candidate_code %>
</div>
</td>
<td>
<div>
  <h3>調査シート</h3>
<p style="-webkit-transform: rotate(-90deg); -webkit-transform-origin:250px 250px;">
  <%= image_tag(image_group_survey_answer_sheet_path(@group, @survey, @answer_sheet), :width => '500') %>
</p>
</div>
</td>
</tr></table>

<table><tr><td>
<h2 class="surveysobject_title">調査項目</h2>
</td><td>
<% if @current_user.has_survey_role(@current_group.id) %>
<%= link_to '編集', group_survey_answer_sheet_answer_sheet_properties_path(@group, @survey, @answer_sheet) %>
<% end %>
</td></tr></table>
<%= render :partial => "answer_sheet_properties/audit" %>

<br/>
</p>
