<% @selected_group = @authorized_group || @current_group %>
<div id="nav">
	<ul class="clearfix">
		<li><%= link_to "調査対象", group_candidates_path(@selected_group.id)%></li>

	<% if @group.nil? or @group.id.nil? %>
		<li><%= link_to "調査", groups_url %></li>
	<% else %>
		<li><%= link_to "調査", group_surveys_path(@group) %></li>
	<% end %>
		<li><%= link_to "ダウンロード", report_group_path(@selected_group) %></li>
		<% if @current_user.has_administrator_group %>
		<li><%= link_to "ユーザ設定", group_users_path(@selected_group)%></li>
		<% else %>
		<li><%= link_to "ユーザ設定", group_users_path(@authorized_group || @current_group)%></li>
		<% end %>
		<% if @current_user.login_name == 'admin' %>
		<li><%= link_to "システム管理", configs_url %></li>
		<% else %>
		<li><%= link_to "宛先不明Fax一覧", '/answer_sheets' %></li>
		<% end %>
		<li><%= link_to 'ログアウト', {:action=>"logout", :controller=>"faxocr"}, :class => "welcome_logout" %>
	</ul>
</div>
