<table id="header">
  <tr>
    <td width="50px" rowspan="2">
      <%= image_tag("logo.png", :alt => "Shinsai FaxOCR System") %>
    </td>
    <% if @current_user != nil %>
    <td>Shinsai FaxOCRシステム</td>
    <% else %>
    <td rowspan="2"><font size=+1>Shinsai FaxOCRシステム</font></td>
    <% end %>
    <td>
    </td>
  </tr>
  <% if @current_user != nil %>
  <tr>
    <td class="welcome_user">
      <font size="-1">
	<% if @current_user != nil %>
	ようこそ <%= @current_group ? @current_group.group_name + ' の ': nil %><%=h @current_user.login_name %> さん。
	<% end %>
	<% if @masq_from_user != nil %>
	<font color="red">
	(<%=h @masq_from_user.login_name %> さんから、代理ログイン中)
	</font>
	<% end %>
      </font>
    </td>
    <td class="welcome_logout" align="right">
      <% if @current_group != nil %>
      <% if @masq_from_user == nil %>
      <% if @current_user.has_masquerade_role(@current_group.id) %>
      [<%= link_to '代理ログイン', {:action=>"masquerade", :controller=>"faxocr"}, :class => "welcome_logout" %>]
      <% end %>
      <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
