<% content_for :include_javascript do %>
  <%= javascript_include_tag 'configs' %>
<% end %>
<% content_for :sidemenu do %>
  <!-- side menu -->
  <div id="side">
    <div class="menu">
      <h4>システム管理</h4>
      <ul>
        <li><%= link_to "システム管理メモ", note_configs_path %></li>
        <hr>
        <li><%= link_to "処理待ちFaxメール一覧", view_faxmail_queue_configs_path %></li>
        <li><%= link_to "Fax処理履歴", view_procfax_log_configs_path %></li>
        <li><%= link_to "宛先不明Fax一覧", view_answer_sheet_configs_path %></li>
        <li><%= link_to "Fax送信履歴", view_sendfax_log_configs_path %></li>
        <hr>
        <li><%= link_to "FaxOCR設定", view_system_config_configs_path %></li>
        <li><%= link_to "データベース設定 (閲覧)", database_configs_url %></li>
        <li><%= link_to "cron設定 (閲覧)", cron_configs_path %></li>
        <hr>
        <li><%= link_to "調査シートチェッカー", "/external/sheet_checker" %></li>
      </ul>
    </div>
  </div>
<% end %>
<%= render template: 'layouts/application' %>
