<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Style-Type" content="text/css" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <title>Shinsai FaxOCR</title>
  <%= stylesheet_link_tag 'style' %>
  <script type="text/javascript" language="JavaScript">
    <!--
       function DisableButton(b)
       {
          b.disabled = true;
          b.form.submit();
       }
    -->
  </script>
</head>

<body>

<!-- header STR -->
<%= render :partial => "layouts/welcome" %>
<!-- header END -->
<!-- nav STR -->
<%= render :partial => "layouts/menu" %>
<!-- nav END -->
<%= render :partial => "layouts/breadcrumb" %>

<!-- container STR -->
<div id="container" class="clearfix">

	<!-- side menu -->
	<div id="side">
	  <div class="menu">
	    <h4>システム管理</h4>
	    <ul>
	      <li><%= link_to "システム管理メモ", note_configs_path %></li>
	      <hr>
	      <li><%= link_to "処理待ちFaxメール一覧", view_faxmail_queue_configs_path %></li>
	      <li><%= link_to "Fax処理履歴", view_procfax_log_configs_path %></li>
	      <li><%= link_to "宛先不明Fax一覧", view_answer_sheet_configs_path %></li>
	      <li><%= link_to "Fax送信履歴", view_sendfax_log_configs_path %></li>
	      <hr>
	      <li><%= link_to "FaxOCR設定", view_system_config_configs_path %></li>
	      <li><%= link_to "データベース設定 (閲覧)", database_configs_url %></li>
	      <li><%= link_to "cron設定 (閲覧)", cron_configs_path %></li>
	      <hr>
	      <li><%= link_to "調査シートチェッカー", "/external/sheet_checker" %></li>
	    </ul>
	  </div>
	</div>

	<!-- contents STR -->
	<div id="contents">

<%= yield %>

	</div>
	<!-- contents END -->
<!-- container END -->
</div>

<!-- footer STR -->
<div id="footer">
	<p id="pagetop">
	  <a href="#">
		<%= image_tag("pagetop.gif", :alt => "このページの先頭へ") %>
	</a>
	</p>
	<div class="inner">
	</div>
</div>
<!-- footer END -->

</body>
</html>
