<h1 class="surveysobject"><%=h @group.group_name %> の自治体/機関情報</h1>
<table><tr><td>
<h2 class="surveysobject_title">基本情報</h2>
</td><td>
<%= link_to '編集', edit_group_path(@group) %>
</td></tr></table>
<div>
  <h3>名称</h3>
  <%=h @group.group_name %>
</div>
<p>
<table><tr><td>
<h2 class="surveysobject_title">調査対象</h2>
</td><td>
<% if @current_user.has_candidate_role(@current_group.id) %>
<%= link_to '編集', group_candidates_path(@group) %>
<% end %>
</td></tr></table>
<%= render :partial => "candidates/list" %>
<br/>
</p>
<p>
<table><tr><td>
<h2 class="surveysobject_title">サーベイ</h2>
</td><td>
<% if @current_user.has_survey_role(@current_group.id) %>
<%= link_to '編集', group_surveys_path(@group) %>
<% end %>
</td></tr></table>
<%= render :partial => "surveys/list" %>
<br/>
</p>
