<h1 class="surveysobject"><%=h @group.group_name %> の実施中サーベイ一覧</h1>

<!-- <%= link_to '[サーベイ一覧]', group_surveys_path(@group) %>-->

<p>
<!-- <h2 class="surveysobject_title">実施中サーベイ一覧</h2> -->
<%= render :partial => "surveys/list" %>
<div align="right">
<% if @current_user.has_survey_role(@current_group.id) %>
<a href=<%="\"/external/form/" + @group.id.to_s + "/000\""%> >[新規サーベイ]</a>
<% end %>
</div>
<br/>
</p>

<!-- 
<p>
<h2 class="surveysobject_title">調査対象</h2>
<%= render :partial => "candidates/list" %>
<div align="right">
<% if @current_user.has_candidate_role(@current_group.id) %>
<%= link_to '[編集]', group_candidates_path(@group) %>
<% end %>
</div>
<br/>
</p>
-->

