<h1>Fax処理履歴 (直近<%= @page_size %>件)</h1>
<p style="color: green"><%= flash[:notice] %></p>
<br>
<center>
  <textarea readonly style="width: 95%; height: 250px;">
<%= @str %>
  </textarea>
</center>
<br>

<table width="100%">
<tr>
  <td align="left">Log Directory Path: <%= @logdir_path %></td>
  <td align="right"><%= button_to "全Fax処理履歴ダウンロード", download_all_procfax_log_configs_path(:format => "text"), :method => 'get' %></td>
  <td align="right"><%= button_to "procfax.sh実行", procfax_exec_configs_path, :onclick => "DisableButton(this);" %></td>
</tr>
</table>
