<h1>Fax処理履歴</h1>
<p>Log Directory Path: <%= @logdir_path %></p>
<p><%= button_to "procfax.sh実行", procfax_exec_configs_path, :onclick => "DisableButton(this);" %></p>
<ul>
  <% @files.each do |file| %>
    <% if File.ftype(file) == "directory" %>
    <li><%= File.basename(file).gsub(/(\d{4})(\d{2})(\d{2})(\d{2})(\d{2})/, '\1/\2/\3-\4:\5') %>
    <% contents = IO.readlines("#{file}/procfax.log") %>
    <% count = contents.map{|l| l if l.include?("INFO: Number of fax processed:")}.join.chomp.split(':')[-1] %>
    処理済みFax <%= count %>件
    <% count = contents.map{|l| l if l.include?("INFO: Number of error occured processing fax:")}.join.chomp.split(':')[-1] %>
    (失敗 <%= count %>件)
    <% count = contents.map{|l| l if l.include?("INFO: Number of sheet processed:")}.join.split(':')[-1] %>
    処理済みシート <%= count %>件
    <% count = contents.map{|l| l if l.include?("INFO: Number of error occured processing sheet:")}.join.chomp.split(':')[-1] %>
    (失敗 <%= count %>件)</li>
    <% end %>
  <% end %>
</ul>
