<%= form_for([@group, @survey]) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :group_id %>

  <h2 class="surveysobject">名称</h2>
  <div class="surveysobject">
  	調査の名称を入力してください。
  </div>
  <p class="surveysobject">
    <%= f.text_field :survey_name %>
  </p>
  <h2 class="surveysobject">ステータス</h2>
  <div class="surveysobject">
  	調査のステータスを選択してください。
  </div>
  <p class="surveysobject">
    <%= f.select(:status, Survey::STATUS) %>
  </p>

  <p>
    <%= f.submit '保存' %>
  </p>
<% end %>
