<h1 class="surveysobject"><%= @survey.survey_name %>
(<%=h Survey::STATUS[@survey.status][0] %>)</h1> 

<div align="right">
<% if @current_user.has_survey_role(@current_group.id) %>
<%= link_to '[設定]', edit_group_survey_path(@group, @survey) %>
<% end %>
</div>

<p>
<h2 class="surveysobject_title">24時間以内に受信したFAX</h2>
<%= render :partial => "answer_sheets/list" %>
<div align="right">
<%= link_to '[全件管理]', group_survey_answer_sheets_path(@group, @survey) %>
</div>
</p>

<p>
<h2 class="surveysobject_title">調査対象</h2>
<%= render :partial => "survey_candidates/list" %>
<div align="right">
<% if @current_user.has_survey_role(@current_group.id) %>
<%= link_to '[一覧管理]', group_survey_survey_candidates_path(@group, @survey) %>
<% end %>
</div>
</p>

<p>
<h2 class="surveysobject_title">シート</h2>
<%= render :partial => "sheets/list" %>
<div align="right">
<% if @current_user.has_survey_role(@current_group.id) %>
<%= link_to '[一覧管理]', group_survey_sheets_path(@group, @survey) %>
<% end %>
</div>
</p>

<p>
<h2 class="surveysobject_title">調査項目</h2>
<div align="right">
<%= render :partial => "survey_properties/list" %>
<% if @current_user.has_survey_role(@current_group.id) %>
<%= link_to '[一覧管理]', group_survey_survey_properties_path(@group, @survey) %>
<% end %>
</div>
</p>

<!--
<h2 class="surveysobject_title">集計レポート</h2>

<table class="surveysobject">
  <tr class="surveysobject">
    <th class="surveysobject" align="left">　配信曜日</th>
    <th class="surveysobject" align="left">　配信時間</th>
  </tr>
  <tr class="surveysobject">
    <td align="left">
      　<%=h @survey.printable_report_wday %>
    </td>
    <td align="left">
      <% if @survey.report_time != nil %>
      　<%=h @survey.report_time.to_s(:time_jp) %>
      <% end %>
    </td>
  </tr>

  <tr class="surveysobject">
    <th class="surveysobject" align="left" colspan="2">　HTMLヘッダー</th>
  </tr>
  <tr class="surveysobject">
    <td class="surveysobject" align="left" colspan="2">
      <%=h @survey.report_header %>
    </td>
  </tr>

  <tr class="surveysobject">
    <th class="surveysobject" align="left" colspan="2">　HTMLフッター</th>
  </tr>
  <tr class="surveysobject">
    <td class="surveysobject" align="left" colspan="2">
      <%=h @survey.report_footer %>
    </td>
  </tr>

</table>

<div align="right">
<% if @current_user.has_survey_role(@current_group.id) %>
<%= link_to '[編集]', edit_group_survey_path(@group, @survey) %>
<% end %>
</div>
-->
