<h1>調査シート登録</h1>
<p style="color: green"><%= flash[:notice] %></p>

<% if @debug_mode == "true" %>
<div class="debug">デバッグモード</div>
<% end %>

<br>
<form action="<%= @action %>" method="post" enctype="multipart/form-data" name="upfm">
<center>
<%= hidden_field_tag(:gid, @gid) %>
<%= hidden_field_tag(:sid, @sid) %>
<table width="700px" border="0" cellpadding="3" cellspacing="0" class="srcTable1">
	<tbody><tr> 
		<th>
		  <div align="center"><b>ファイル登録</b></div>
		</th> 
		<td> <br><br>
<center><%= file_field "file", "upfile", "size" => "60" %></center>
<br>
<div align="left">
<ul>
  <li> アップロード可能なファイルサイズは、<b><%= @limit %></b>バイトまでです。</li>
<br>
</ul>
</div>

<hr>
<table border="0" cellpadding="5" class="srcTable2" width="100%">
<tr>
<td width="150px" align="center" border="0px"><b>調査対象</b></td>
<td>
<input type="radio" name="target" value="registered" checked>設定済み調査対象
<input type="radio" name="target" value="unrestricted">不特定多数　　　
</td>
</tr>
</table>
		</td> 
	</tr> 

	<tr>
		<td colspan="2"><center><br>
<a href="#" onclick="document.upfm.submit()"><%= image_tag("submit.gif", :alt=>"アップロード") %></a>
<br><br>
</center>
		</td> 
	</tr> 
</tbody></table> 
</center>
</form>
